table.takvimTablo {
	width:210px;
	border-style:solid;
	border-width:1px;
	font-size:9px;
	font-family:verdana;
					}
td.acikla{			
	border: 1px solid;
	padding: 1px;
	padding-left:10px;
	background-color:#E1E1E1;
	font-weight:bold;
	border-color: #ffffff black black #ffffff;
	text-align:center;
						}
td.ic {			
	border: 1px solid;
	padding: 1px;
	background-color:#E1E1E1;
	border-color: #ffffff black black #ffffff;
	cursor:pointer;
	width:10px;
						}
td.ic2 {			
	border: 1px solid;
	padding: 1px;
	background-color:#E1E1E1;
	border-color: red;
	cursor:pointer;
	color:red;
	text-align:center;
						}
td.ic_gunler {		
	border: 1px solid;
	padding: 1px;
	background-color:#E1E1E1;
	border-color: #ffffff black black #ffffff;
	cursor:pointer;
	width:10%;
					}
td.ic_gunler_tatil {		
	border: 1px solid;
	padding: 1px;
	background-color:#F7F7F7;
	border-color: #ffffff black black #ffffff;
	cursor:pointer;
	width:10%;
					}
td.ic_gunler_bugun {		
	border: 1px solid;
	padding: 1px;
	background-color:#00CC00;
	border-color: #ffffff black black #ffffff;
	cursor:pointer;
	width:10%;
					}
input.textbox1{ border: 1px solid ;
				border-color:#FF0000;
				font-family:verdana;
				font-size:9px;
				cursor:pointer;
				}
